@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --accent: #ee0000;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

nav,
footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1em;
}

.links {
  display: none;
}

footer {
  flex-wrap: wrap;
}

nav ul,
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a,
footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:active {
  color: #ee0000;
}

header {
  text-align: center;
}

header img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

h1 {
  font-size: 3em;
}

.container {
  max-width: 100ch;
  margin: 3rem auto;
}

input,
textarea,
select {
  width: 100%;
  padding: 0.8em 0.5em;
  border-radius: 8px;
  border: 2px solid var(--accent);
}

::placeholder,
select:invalid {
  color: dimgray;
}

textarea {
  resize: vertical;
}

input[type="submit"],
input[type="reset"] {
  border: none;
  background-color: var(--accent);
  color: white;
  padding: 1rem;
  font-weight: bold;
  font-size: 1em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 80ch;
  margin: auto;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pilotos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.pilotos__piloto {
  aspect-ratio: 4/3;
  position: relative;
  background-position: center;
  background-size: cover;
  color: white;
  transition: all 150ms ease-out;
  border-bottom: 5px solid #ee0000;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.75);
}

.pilotos__piloto:hover,
.pilotos__piloto:focus {
  transform: scale(1.1);
}

.pilotos__piloto .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: black;

  transition: all 150ms ease-out;
}

.pilotos__piloto:hover .text,
.pilotos__piloto:focus .text {
  opacity: 0;
}

.pilotos__piloto .text p {
  aspect-ratio: 1/1;
  background-color: white;
  color: black;
}

.pilotos__piloto .text * {
  padding: 1rem;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

.schumacher {
  background-image: url("https://via.placeholder.com/400x300");
}

.hamilton {
  background-image: url("https://via.placeholder.com/400x300");
}

.fangio {
  background-image: url("https://via.placeholder.com/400x300");
}

.lauda {
  background-image: url("https://via.placeholder.com/400x300");
}

.senna {
  background-image: url("https://via.placeholder.com/400x300");
}

.vettel {
  background-image: url("https://via.placeholder.com/400x300");
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid var(--accent);
}

th {
  font-weight: bold;
  text-align: left;
  background-color: var(--accent);
  color: white;
}

th,
td {
  padding: 1rem;
}

tr:nth-child(odd) {
  background-color: hsl(0, 0%, 95%);
}

abbr {
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  .links {
    display: flex;
  }

  button {
    display: none;
  }
}
