form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 80ch;
  margin: auto;
}

input,
textarea,
select {
  width: 100%;
  padding: 0.8em 0.5em;
  border-radius: 8px;
  border: 2px solid var(--accent);
}

textarea {
  resize: vertical;
}

::placeholder,
select:invalid {
  color: dimgray;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 1rem;
}

.field.split {
  flex-direction: row;
  align-items: end;
}

.field.split > div {
  width: 100%;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
}

input[type="checkbox"] {
  width: auto;
}

input[type="submit"],
input[type="reset"] {
  border: none;
  background-color: var(--accent);
  color: white;
  font-weight: bold;
  font-size: 1em;
}
