* {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100%;
}

main {
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 100ch;
  margin: 3rem auto;
  padding: 1rem;
  gap: 2rem;
}

figcaption {
  text-align: center;
  font-weight: bold;
}

figure * {
  padding: 0.5rem;
}

:is(nav, footer) {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1em;
}

:is(nav, footer) ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul {
  --display-links: none;
  display: var(--display-links);
}

:is(nav, footer) a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

:is(nav, footer) a:active {
  color: var(--accent);
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  background-color: transparent;
  padding: 0;
  margin: 0;
  color: white;
  line-height: 0;
}

header {
  text-align: center;
}

header img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

.botones {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 600px) {
  :is(nav, footer),
  :is(nav, footer) ul {
    flex-direction: row;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  .menu {
    display: none;
  }
}
