a {
  color: var(--accent);
}

h1 {
  font-size: 3em;
}

abbr {
  text-decoration: none;
}

ul {
  list-style-type: square;
}

button,
input[type="submit"],
input[type="reset"] {
  padding: 0.75em 1em;
  cursor: pointer;
}

video {
  width: 100%;
  max-width: 560px;
  aspect-ratio: 16/9;
  align-self: center;
}

svg {
  height: 1.25em;
  width: auto;
}

::selection {
  background-color: var(--accent);
  color: white;
}

.center {
  text-align: center;
}
