a {
  color: var(--accent);
}

h1 {
  font-size: 3em;
}

abbr {
  text-decoration: none;
}

ul {
  list-style-type: square;
}

::selection {
  background-color: var(--accent);
  color: white;
}

.calendario {
  text-decoration: none;
}

.calendario__button {
  padding: 1rem 1.5rem;
  background-color: black;
  color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin: auto;
  font-weight: bold;
  cursor: pointer;
}

.icon {
  height: 1.25em;
  width: auto;
  fill: currentColor;
}
