table {
  width: 100%;
  border-collapse: collapse;
}

.table-wrapper {
  width: 100%;
  border: 2px solid var(--accent);
  overflow-x: auto;
}

tr:nth-child(odd) {
  background-color: hsl(0, 0%, 95%);
}

th {
  font-weight: bold;
  text-align: left;
  background-color: var(--accent);
  color: white;
}

th,
td {
  vertical-align: top;
  padding: 1rem;
}

table ul {
  margin: 0;
  padding-left: 0;
}

.mensaje {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 10ch;
}
